.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body,html{
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
  background-color: #F2F2F2;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.Bg--White{
  background-color: #FFFFFF;
}

.navbar{
  background: rgba(153,0,0,0.69);
  background: -moz-linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,0,0,0.69)), color-stop(1%, rgba(153,0,0,0.69)), color-stop(7%, rgba(153,0,0,0.71)), color-stop(29%, rgba(221,0,23,0.78)), color-stop(35%, rgba(221,0,23,0.8)), color-stop(87%, rgba(153,0,0,0.96)), color-stop(100%, rgba(153,0,0,1)));
  background: -webkit-linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  background: -o-linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  background: linear-gradient(45deg, rgba(153,0,0,0.69) 0%, rgba(153,0,0,0.69) 1%, rgba(153,0,0,0.71) 7%, rgba(221,0,23,0.78) 29%, rgba(221,0,23,0.8) 35%, rgba(153,0,0,0.96) 87%, rgba(153,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990000', endColorstr='#990000', GradientType=1 );
  color: #FFFFFF;
  margin:0px;
  border-radius:0px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar .navbar-header a{
  color: #FFFFFF;
}

.navbar .navbar-right a{
  color: #FFFFFF;
  font-size: 14px;
}

.tc{
  text-align: center;
}

.Banner--Text{
  margin-top: 100px;
  padding: 20px;
  background-color: #FFFFFF;
  font-size: 24px;
}

.Banner--Blood{
  background-color: #FFFFFF;
}

.Banner--Image img{
    width: 100%;
    margin-top: 50px;
}


.Blood--Facts{
  margin: 10px;
  padding: 30px;
  background-color: #FFF;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(201,201,201,1);
  -moz-box-shadow: 2px 4px 5px 0px rgba(201,201,201,1);
  box-shadow: 2px 4px 5px 0px rgba(201,201,201,1);
}

.Blood--Facts:hover{
  -webkit-box-shadow: 2px 4px 5px 0px #C2C3C5;
  -moz-box-shadow: 2px 4px 5px 0px #C2C3C5;
  box-shadow: 2px 4px 5px 0px #C2C3C5;
}

.Blood--Facts h4{
  line-height: 30px;
}

.Blood--Facts h5{
  line-height: 20px;
}

.Btn--Member{
  padding: 8px 12px;
  color: #FFF;
  background-color: #dd0017;
}

.Btn--Member:hover{
  color:#dd0017;
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(221,0,23,1);
  -moz-box-shadow: 2px 2px 3px 0px rgba(221,0,23,1);
  box-shadow: 2px 2px 3px 0px rgba(221,0,23,1);
}


.Become--Member{
  bottom: 20;
  right: 20;
  background-color: #dd0017;
  color: #FFFFFF;
  position: fixed;
  padding: 20px;
  border-radius: 50%;
  z-index: 1;
}

.Become--Member:hover{
  -webkit-box-shadow: 0px 0px 4px 2px rgba(255,3,32,1);
  -moz-box-shadow: 0px 0px 4px 2px rgba(255,3,32,1);
  box-shadow: 0px 0px 4px 2px rgba(255,3,32,1);
}

